header{
  background-color: rgb(255, 106, 0);
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: blue;
}
.image img{
  width: 100% !important;
  height: auto !important;
} 
.hero-section.index{
  background-image: linear-gradient(  to bottom right, rgba(255, 255, 255, 0.836), rgba(255, 166, 0, 0.601));
} 
.card-img img{
  width: 100%;
}
.card.shadow{
  box-shadow: 25px 25px 20px rgb(7, 0, 11);
}
.list-unstyled a:hover{
  font-weight: bolder;
}

.card-pics img{
  width: 100%;
}
.card-img-top img{
  width: 100%;
}
.section.index .card:hover{
transform: scale(1.1);
}
.footer-icons i:hover{
  color: blue;
}
.section.about .card:hover{
  transform: scale(1.05);
}
.blockquote:hover{
  color: rgb(244, 11, 11) !important;
}









@media(max-width:992px){
  .mobile-card{
    display: none;
  }
}

@media(max-width:768px){
  .products{
    display: none;
   }
  main .row:first-child{
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}
@media(max-width:576px){
 .slide{
  padding: 0 20px !important;
 }
}
@media(max-width:347px){

h3.card-title{
  font-size: 17px !important;
}
.section.index p.card-text{
font-size: 12px;
}
.section.index .strike{
  padding: 0 !important;
}
.btn-danger a{
  font-size: 12px;
}

}