body{
  background: #eee;
}
.mobile-carousel{
  display: none;
}




@media(max-width:576px){
 .mobile-carousel{
  display: block;
  padding: 40px !important;
 }
 .section.mobile{
  display: none;
 }
}
@media(max-width:426px){
  .mobile-carousel{
    padding: 0px 5px !important;
   }
}